.messages-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  background-color: #37393e;
  /* border-top-left-radius: 12px; */
  box-shadow: inset -2px 3px 14px #00000033;
  overflow-y: scroll;
  /* top: 150%; */
}

.each-row {
  display: flex;
  flex-direction: row;
  margin-left: 25px;
  align-items: center;

  margin-bottom: 15px;

}

.each-message-row {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80px;
  background-color: rgb(58, 58, 58);
  border-radius: 5px;
  margin-left: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.329);
  margin-bottom: 35px;
}

.each-message {
  color: white;
  padding-left: 15px;
}

.profile-pic-msg {
  display: inline;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(153, 202, 153);
}
