.main-navbar {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
}

.main-navbar > div > p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.main-navbar>div>a  {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white
}




.logo-main-nav {
    position: relative;
    left: 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    border: 2px solid white;
    cursor: pointer;
}

.center-links-nav {
    position: relative;
    left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    border: 1px solid white;
    border-radius: 5px;

}

.login-signup-container {
    position: relative;
    right: 1.5%;
    width: 250px;
    display: flex;
    flex-direction: row;

}

.login-button-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 55px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    background-color: #1859c9;
    cursor: pointer;
    margin-right: 30px;
}

.login-button-nav:hover {
    background-color: #1859c9db;
}

.signup-button-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 55px;
        margin-right: 7px;
        border: none;
        border-radius: 5px;
        background-color: #e9ecf0;
        font-size: 17px;
        font-weight: 600;
        cursor: pointer;
}


.signup-button-nav:hover {
background-color: #e9ecf0d1;
}

.center-links-nav {
    color: white;
}

.center-links-nav > i > a {
    text-decoration: none;
    color: white;
}

.github-icon {
    transform: scale(2.5)
}

.moved-github {
}

.front-arrow {
    position: relative;
    bottom: 5%;
    right: 8%;
    color: whitesmoke;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.front-arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.front-arrow:hover {
    transform: scale(1.08);
}