.channels-container {
    margin-left: 10px;
    overflow-y: scroll;
    /* background-color: grey; */
}

.channel-name>a {
    color: white;
}

#channel-title {
    color: white;
}

.channel-each {
    display: flex;
    text-align: left;
    justify-content: space-between;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: 500;
    font-size: 22px;
    color: white;
    margin: 20px;
}

.edit-delete-channels>a {
    text-decoration: none;
    color: white;
    margin: 2px;
}

::-webkit-scrollbar {
    background-color: transparent;
}
