.channels-container {
    margin-top: 5%;
    margin-left: 15px;
    overflow-y: scroll;
}

.channel-each {
    font-size: 20px;
    margin-bottom: 10%;
}


::-webkit-scrollbar {
    background-color: transparent;
}

.edit__btn__channel {
    font-size: 15px;
    margin-left: 10px;
    color: rgb(117, 173, 88);
}


.delete__btn__channel {
    font-size: 15px;
    margin-left: 10px;
    color: white;
}


.exit__channel__edit {
    cursor: pointer;
}

.exit__channel__delete {
    cursor: pointer;
}

.channel__input__name {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.068);
}


.create-text {
    cursor: default;
}