.main-user-div{
    display: flex;  
}

.logout-div{
    background-color: grey;
    height:1000px;
}


.user-info-div{
    background-color: blanchedalmond;
    width: 400px;
    height: 200px;
    margin-left: 100px;
}

.user-subinfo{
    background-color: grey;
}