body {
  background-color: #37393e;

}

.sidebar {
  display: flex;
  flex-direction: column;
}

.server-nav {
  height: 100vh;
  width: 115px;
  background-color: rgb(32, 34, 37);
  color: white;
  position: absolute;
  display: flex;
  box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.164);
}


.server-nav-a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 25px;
  font-weight: 500;
}

#server-nav {
  text-decoration: none;
  color: white;
}

.server-bubble {
  padding: 30px;
}

.add-server {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-weight: 500;
  font-size: 35px;
}

.add-server>p {
  color: green;
}


.home-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  border-radius: 20px;
  width: 60px;
  height: 60px;
  font-size: 15px;
  font-weight: 500;
}

.user-bar {
  /* background-color: grey; */
  display: flex;
  align-items: flex-end;
}
