.left-sidebar-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 22.5%;
    height: 100%;
    background-color: rgb(24, 48, 35);
}


.left-half-sb {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.left-half-sb-home, .top-sb {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: rgb(24, 48, 35);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.445);
}

.home-btn-sb {
    width: 60%;
    height: 60%;
    border-radius: 50%;
}


.right-half-sb {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.add-channel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: blue;
}

.wave-btn {
    font-size: 25px;
    color: whitesmoke;
    cursor: pointer;
}

.server-list-container {
    overflow-y: scroll;

}
::-webkit-scrollbar {
    background-color: transparent;
    width: 1px;
    height: 1px;
}

.channels-container {
    height: 100%;
    width: 100%;
}


.server-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#server-title {
    font-size: 20px;
    color: whitesmoke;
}


.channels-container {
    background-color: black;
}