/* TODO Add site wide styles */

.browser-container {
    display: flex;
    flex-direction: row;
}

.main {
    display: grid;
    grid-template-rows: 1fr 8fr 0.55fr;
    width: 100%;
    height: 100vh;
    background-color: #303136;
}

.main-sidebar {
    width: 25%;
    height: 100vh;
    background-color: grey;
}

.main-header {
    background-color: #303136;
}

.main-inputs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.message-form>button {
    background-color: transparent;
    border: none;
    display: none;
}

#mf-input {
    width: 90%;
    height: 45px;
    font-size: 18px;
    border-radius: 15px;
    outline: none;
    border: none;
    padding-left: 15px;
    background-color: #cbd3cb5d;
    color: white;
}




.ms-header {
    background-color: rgb(63, 74, 65);
}

.main-footer {
    background-color: rgb(71, 71, 71);
}

.ms-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
}
