.Nav-bar{
    height: 100%;
}

.splash-nav{
    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    top: 2%;
    left: 0px;
    width: 100%;
    height: 70px;
    z-index: 1;
}

.Navigation-bar{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/**************************************************************/

#splash-imgLogo {
    width: 25%;
    position: relative;
    border-radius: 50%;
    top: 25px;
}

#splash-logo {
    height: 46px;
    max-width: 184px;
    display: flex; 
}

#splash-homeBtn {
    min-width: 70px;
    display: flex;
    position: relative;
    bottom: 8px;
    left: 5px;
    font-family: sans-serif;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    font-size: 22px;
    color: whitesmoke;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    height: 26px;
    background-color: black;
    border-radius:20px;
    top: 16px;
}

/**************************************************************/

#nav-github {
    text-decoration: none;
    color: white;
    min-width: 103px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    top: 37px;
    font-size: 20px;
    font-weight: 600;
    height: 30px;
    background-color: black;
    border-radius: 20px;
}

#nav-github:hover {
    font-size: 22px;
}

#nav-about {
    text-decoration: none;
    color: white;
    min-width: 103px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    top: 37px;
    font-size: 20px;
    font-weight: 600;
    height: 30px;
    background-color: black;
    border-radius: 20px;
}

#nav-about:hover {
    font-size: 22px;
}

#nav-login {
    text-decoration: none;
    color: black;
    min-width: 75px;
    height: 30px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    top: 37px;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    border: 3px solid green;
    border-radius: 20px;
}

#nav-login:hover {
    text-decoration: none;
    color: black;
    min-width: 75px;
    height: 30px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    top: 37px;
    font-size: 20px;
    font-weight: 600;
    background-color: lightgreen;
    border: 3px solid white;
    border-radius: 20px;
}

/***********************************************************************/

.splash-middle-container{
    display: flex;
    flex-direction: column;
}


.splash-text-conatiner {
    display: flex;
    /* flex-direction: column; */
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 500px;
}


#splash-title {
    text-align: center;
    position: relative;
    font-size: 60px;
    margin-bottom: 15px;
    font-weight: 600;
    color: white;
    background-color: black;
    border-radius: 20px;
    margin-top: 13%;
    width: 38%;
    margin-left: 31%;
    margin-right: 31%;
}

#splash-txt{
    font-size: 23px;
    margin-top: 400px;
    margin-bottom: 30px;
    line-height: 1.5;
    width: 56%;
    position: relative;
    bottom: 385px;
    color: white;
    text-align: center;
    margin-left: 22%;
    margin-right: 22%;
    background-color: black;
    border-radius: 20px;
}

/***********************************************************************/

.splash-auth-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -370px;
    width:50%;
    margin-left: 25%;
    margin-right: 25%;
}

.splash-demo>button {
    font-size: 24px;
    font-weight: 600;
    border-radius: 20px;
    height: 43px;
    margin-right: 20px;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 3px solid green;
    padding-top: 2px;
}

.splash-demo>button:hover {
    font-size: 25px;
    font-weight: 600;
    border-radius: 20px;
    height: 44px;
    margin-right: 20px;
    width: 157px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 3px solid red;
    padding-top: 3px;
    cursor: pointer;
}

#splash-signup {
    font-size: 25px;
    font-weight: 600;
    color: black;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    width: 140px;
    height: 33px;
    text-align: center;
    padding-top: 3px;
    margin-left: 20px;
    margin-top: 2px;
    border: 3px solid green;
}

#splash-signup:hover {
    font-size: 27px;
    font-weight: 600;
    color: black;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    width: 142px;
    height: 34px;
    text-align: center;
    padding-top: 2px;
    margin-left: 20px;
    margin-top: 2px;
    border: 3px solid red;
    cursor: pointer;
}
/***********************************************************************/

.splash-border {
    margin-top: 14%;
    border-bottom: 1px solid grey;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.main-footer {
    display: flex;
    align-items: flex-end;
}

/***********************************************************************/

.splash-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -460px;
    width:100%;
}

.splash-developers{
    display: flex;
    flex-direction: column;
    color:white;
    position: relative;
    top:450px;
    left:-300px;
}

.splash-developers>h3{
    border-bottom: 1px solid grey;
    width: 90px;
}

.splash-developers>a{
    text-decoration: none;
    color:white;
    font-size: 15px;
}

.splash-resources{
    display: flex;
    flex-direction: column;
    color:white;
    position: relative;
    top:450px;
    left:300px;
}

.splash-resources>h3{
    border-bottom: 1px solid grey;
    width: 82px;
}

.splash-resources>div{
    position: relative;
    color:white;
    font-size: 15px;
}
