.right-sidebar-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 22%;
}

.right-sidebar-header {
    height: 100px;
    width: 100%;
    background-color: rgb(24, 48, 35)
}

.right-sidebar-list {
    height: 100%;
    width: 100%;
    background-color: rgb(24, 48, 35)
}
