
.create-channel-form {
    position: absolute;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30%;
    left: 50%;
    width: 350px;
    height: 200px;
    background-color: blue;
    border-radius: 10px;
}

#create-channel-title {
    font-size: 22px;
    color: whitesmoke;
}

.create-channel-form > input {
    width: 80%;
    height: 18%;
    margin-bottom: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
}

#create-channel-btn {
    margin-top: 12px;
    height: 35px;
    width: 150px;
    border-radius: 5px;
    border: none;
    
}